# 멋쟁이사자처럼 2주차 TIL

## 1. FinanceDataReader 사용법

FinanceDataReader 정의 : 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

라이브러리 설치

In [1]:
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.42-py3-none-any.whl (17 kB)
Requirement already satisfied, skipping upgrade: lxml in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (4.5.0)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (2.22.0)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (1.0.1)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (4.42.1)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.25.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2019.11.28)
Requirement already satisfied, skipping upgrade: six in c:\users\user\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.14.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.18.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2019.3)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.42 requests-file-1.5.1

라이브러리 임포트

In [45]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

한국거래소 상장종목(KRX) 전체 가져오기

In [46]:
df = fdr.StockListing("KRX")

데이터프레임의 요약정보를 봅니다.

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7884 entries, 0 to 7883
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7884 non-null   object
 1   Market          7884 non-null   object
 2   Name            7884 non-null   object
 3   Sector          2529 non-null   object
 4   Industry        2513 non-null   object
 5   ListingDate     2529 non-null   datetime64[ns]
 6   SettleMonth     2529 non-null   object
 7   Representative  2529 non-null   object
 8   HomePage        2370 non-null   object
 9   Region          2528 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 677.5+ KB

In [48]:
df.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7884,7884,7884,2529,2513,2529,2529,2529,2370,2528
unique,7884,3,7884,161,2347,1880,8,2408,2348,22
top,52HQ03,KOSPI,제이앤티씨,소프트웨어 개발 및 공급업,기업인수합병,1976-06-30 00:00:00,12월,김현수,http://www.ibks.com,서울특별시
freq,1,6160,1,155,30,8,2470,4,3,1031
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-09-29 00:00:00,NaN,NaN,NaN,NaN

상장일 순으로 정리 후 csv파일로 저장

In [49]:
df.sort_values(by="ListingDate", ascending =  False).head()
df.to_csv("krx.csv", index = False  )

## 2. 웹스크래핑 방법

웹 크롤링이란 웹상의 정보들을 탐색하고 수집하는 작업


웹 스크래핑이란 특정 웹 사이트나 페이지에서 필요한 데이터를 자동으로 추출해 내는 것

차이: 웹 크롤링은 웹 페이지의 링크를 타고 계속해서 탐색을 이어나가지만, 웹 스크래핑은 데이터 추출을 원하는 대상이 명확

출처: https://blog.codef.io/crawling_vs_scraping/#:~:text=%EC%9B%B9%20%EC%8A%A4%ED%81%AC%EB%9E%98%ED%95%91(Web%20Scraping)%EC%9D%B4%EB%9E%80,%EC%B6%94%EC%B6%9C%ED%95%B4%20%EB%82%B4%EB%8A%94%20%EA%B2%83%EC%9D%84%20%EC%9D%98%EB%AF%B8%ED%95%A9%EB%8B%88%EB%8B%A4.

### 네이버 금융 페이지에서 특정 종목 관련 뉴스를 모아보자(웹 스크래핑)

#### 삼성전자 관련 뉴스 모아보기

##### 1. 웹 스크래핑 할 url을 가져옵니다.

In [50]:
item_code = "005930"
item_name = "삼성전자"
page_no = 1
# 삼전 url
url=f"https://finance.naver.com/item/news_news.nhn?code={item_code}&{page_no}=1&sm=title_entity_id.basic&clusterId="

print(url)

https://finance.naver.com/item/news_news.nhn?code=005930&1=1&sm=title_entity_id.basic&clusterId=

##### 2. read_html 로 데이터 정보 가져오기

 read_html 로 수집한 데이터는 table이라는 변수에 담아주세요

In [51]:
table = pd.read_html(url)
table

[                                                   제목  \
 0                   "삼성전자·LG엔솔도 못 피했다"…코스피 공매도 40% 증가
 1                    코스피, 반등 약해지며 2170선 아슬…삼성전자 하락 전환
 2          “지금이야 말로 삼성 주식 사야 할 때?” 전문가들이 점친 반도체 반등...
 3                   중기부, 팹리스·파운드리 협의회 개최…삼성·하이닉스 등 참여
 4   연관기사 목록  중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...
 5                중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여
 6          "이재용 '회장' 기념 보너스 나온다"…삼성에 파다한 소문 [삼성은 지...
 7          최악 분위기에도 삼성 반도체 놀라운 실적? 1년 뒤 공언한 ‘깜짝 반전...
 8   연관기사 목록  “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”  헤럴드경제  202...
 9                           “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”
 10                    삼성전자, 카자흐스탄 대통령에 부산엑스포 유치 지원 요청
 11  연관기사 목록  스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...
 12          스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는 ...
 13             삼성전자 이인용 사장, 카자흐 대통령 접견…부산엑스포 유치 지지 요청
 14                     삼성전자, 카자흐스탄 대통령 접견…부산엑스포 유치 지원
 15         [특징주]RF머트리얼즈, 삼성도 눈독 들이는 차세대 'GaN기술' 국산...
 16                    [종목줍줍]'반도체가 살아나야…' 삼성전자 반등은 언제?
 17                         삼성전자, 카자흐 대통령에 부산엑스포 지지 요청

                                                  정보제공  \
 0                                                한국경제
 1                                               아시아경제
 2                                               헤럴드경제
 3                                                한국경제
 4   연관기사 목록  중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...
 5                                               아시아경제
 6                                                한국경제
 7                                               헤럴드경제
 8   연관기사 목록  “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”  헤럴드경제  202...
 9                                               헤럴드경제
 10                                               이데일리
 11  연관기사 목록  스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...
 12                                              헤럴드경제
 13                                             파이낸셜뉴스
 14                                              아시아경제
 15                                              아시아경제
 16                                             비즈니스워치
 17                                               서울경제

                                                    날짜
 0                                    2022.09.29 16:16
 1                                    2022.09.29 15:28
 2                                    2022.09.29 13:32
 3                                    2022.09.29 13:28
 4   연관기사 목록  중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...
 5                                    2022.09.29 12:01
 6                                    2022.09.29 13:10
 7                                    2022.09.29 13:02
 8   연관기사 목록  “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”  헤럴드경제  202...
 9                                    2022.09.29 11:22
 10                                   2022.09.29 12:58
 11  연관기사 목록  스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...
 12                                   2022.09.29 11:35
 13                                   2022.09.29 10:28
 14                                   2022.09.29 10:18
 15                                   2022.09.29 10:55
 16                                   2022.09.29 10:41
 17                                   2022.09.29 10:39  ,
                                       0      1                 2
 0  중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여  아시아경제  2022.09.29 12:01,
                            0      1                 2
 0  “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”  헤럴드경제  2022.09.29 11:22,
                                            0       1                 2
 0  스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는 ...   헤럴드경제  2022.09.29 11:35
 1     삼성전자 이인용 사장, 카자흐 대통령 접견…부산엑스포 유치 지지 요청  파이낸셜뉴스  2022.09.29 10:28
 2             삼성전자, 카자흐스탄 대통령 접견…부산엑스포 유치 지원   아시아경제  2022.09.29 10:18,
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

table 변수 안에 있는 0번째 인덱스 값을 가져와서 df 라는 변수에 담기

In [52]:
df = table[0]
df

,제목,정보제공,날짜
0,"""삼성전자·LG엔솔도 못 피했다""…코스피 공매도 40% 증가",한국경제,2022.09.29 16:16
1,"코스피, 반등 약해지며 2170선 아슬…삼성전자 하락 전환",아시아경제,2022.09.29 15:28
2,“지금이야 말로 삼성 주식 사야 할 때?” 전문가들이 점친 반도체 반등...,헤럴드경제,2022.09.29 13:32
3,"중기부, 팹리스·파운드리 협의회 개최…삼성·하이닉스 등 참여",한국경제,2022.09.29 13:28
4,"연관기사 목록 중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...","연관기사 목록 중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...","연관기사 목록 중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ..."
5,"중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여",아시아경제,2022.09.29 12:01
6,"""이재용 '회장' 기념 보너스 나온다""…삼성에 파다한 소문 [삼성은 지...",한국경제,2022.09.29 13:10
7,최악 분위기에도 삼성 반도체 놀라운 실적? 1년 뒤 공언한 ‘깜짝 반전...,헤럴드경제,2022.09.29 13:02
8,연관기사 목록 “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파” 헤럴드경제 202...,연관기사 목록 “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파” 헤럴드경제 202...,연관기사 목록 “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파” 헤럴드경제 202...
9,“삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”,헤럴드경제,2022.09.29 11:22
10,"삼성전자, 카자흐스탄 대통령에 부산엑스포 유치 지원 요청",이데일리,2022.09.29 12:58
11,"연관기사 목록 스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...","연관기사 목록 스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...","연관기사 목록 스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는..."
12,"스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는 ...",헤럴드경제,2022.09.29 11:35
13,"삼성전자 이인용 사장, 카자흐 대통령 접견…부산엑스포 유치 지지 요청",파이낸셜뉴스,2022.09.29 10:28
14,"삼성전자, 카자흐스탄 대통령 접견…부산엑스포 유치 지원",아시아경제,2022.09.29 10:18
15,"[특징주]RF머트리얼즈, 삼성도 눈독 들이는 차세대 'GaN기술' 국산...",아시아경제,2022.09.29 10:55
16,[종목줍줍]'반도체가 살아나야…' 삼성전자 반등은 언제?,비즈니스워치,2022.09.29 10:41
17,"삼성전자, 카자흐 대통령에 부산엑스포 지지 요청",서울경제,2022.09.29 10:39

수집한 값을 담을 리스트 만들기

In [53]:
temp_list = []

for 문을 사용해 table의 값을 모두 가져오기

In [68]:
for news in table:
    temp_list.append(news)
    display(news)

,제목,정보제공,날짜
0,"""삼성전자·LG엔솔도 못 피했다""…코스피 공매도 40% 증가",한국경제,2022.09.29 16:16
1,"코스피, 반등 약해지며 2170선 아슬…삼성전자 하락 전환",아시아경제,2022.09.29 15:28
2,“지금이야 말로 삼성 주식 사야 할 때?” 전문가들이 점친 반도체 반등...,헤럴드경제,2022.09.29 13:32
3,"중기부, 팹리스·파운드리 협의회 개최…삼성·하이닉스 등 참여",한국경제,2022.09.29 13:28
4,"연관기사 목록 중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...","연관기사 목록 중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ...","연관기사 목록 중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여 ..."
5,"중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여",아시아경제,2022.09.29 12:01
6,"""이재용 '회장' 기념 보너스 나온다""…삼성에 파다한 소문 [삼성은 지...",한국경제,2022.09.29 13:10
7,최악 분위기에도 삼성 반도체 놀라운 실적? 1년 뒤 공언한 ‘깜짝 반전...,헤럴드경제,2022.09.29 13:02
8,연관기사 목록 “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파” 헤럴드경제 202...,연관기사 목록 “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파” 헤럴드경제 202...,연관기사 목록 “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파” 헤럴드경제 202...
9,“삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”,헤럴드경제,2022.09.29 11:22
10,"삼성전자, 카자흐스탄 대통령에 부산엑스포 유치 지원 요청",이데일리,2022.09.29 12:58
11,"연관기사 목록 스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...","연관기사 목록 스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는...","연관기사 목록 스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는..."
12,"스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는 ...",헤럴드경제,2022.09.29 11:35
13,"삼성전자 이인용 사장, 카자흐 대통령 접견…부산엑스포 유치 지지 요청",파이낸셜뉴스,2022.09.29 10:28
14,"삼성전자, 카자흐스탄 대통령 접견…부산엑스포 유치 지원",아시아경제,2022.09.29 10:18
15,"[특징주]RF머트리얼즈, 삼성도 눈독 들이는 차세대 'GaN기술' 국산...",아시아경제,2022.09.29 10:55
16,[종목줍줍]'반도체가 살아나야…' 삼성전자 반등은 언제?,비즈니스워치,2022.09.29 10:41
17,"삼성전자, 카자흐 대통령에 부산엑스포 지지 요청",서울경제,2022.09.29 10:39

                                      0      1                 2
0  중기부, 제3회 팹리스-파운드리 상생협의회 개최…삼성전자 등 참여  아시아경제  2022.09.29 12:01

                           0      1                 2
0  “삼성 파운드리 ‘분기 매출 7조’ 첫 돌파”  헤럴드경제  2022.09.29 11:22

                                           0       1                 2
0  스페인·멕시코·레소토, 이번엔 카자흐…삼성전자, 세계 정상들 만나는 ...   헤럴드경제  2022.09.29 11:35
1     삼성전자 이인용 사장, 카자흐 대통령 접견…부산엑스포 유치 지지 요청  파이낸셜뉴스  2022.09.29 10:28
2             삼성전자, 카자흐스탄 대통령 접견…부산엑스포 유치 지원   아시아경제  2022.09.29 10:18

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

concat함수 이용하여 수집한 복수의 데이터프레임들을 하나의 데이터프레임으로 합치기

In [76]:
df_news=pd.concat(temp_list)

결측치 제거

In [77]:
df_news = df_news.dropna()

수집한 데이터 중 "제목"에 "연관기사"가 들어가는 데이터를 제거

In [82]:
df_news = df_news[~df_news["제목"].str.contains("연관기사")].copy()

##### 2. def 함수로 위의 과정 한 개의 함수화 하기.

In [84]:
def get_one_page_news(item_code, page_no):
    
    url = get_url(item_code, page_no)
    table = pd.read_html(url, encoding="cp949")

    temp_list = []
    cols = table[0].columns

    for news in table[:-1]:
        news.columns = cols
        temp_list.append(news)

    df_news = pd.concat(temp_list)
    df_news = df_news.dropna()
    df_news = df_news.reset_index(drop=True)
    df_news = df_news[~df_news["제목"].str.contains("연관기사")].copy()
    df_news = df_news.drop_duplicates()
    return df_news

In [86]:
page_no = 2
item_code = 263750  

temp = get_one_page_news(item_code, page_no)
temp

NameError: name 'get_url' is not defined

name 'get_url' is not defined에러가 나오는데 이유를 모르겠습니다. 관련하여 향후 조사 필요합니다.